/* ==|== primary styles =====================================================
Author:
========================================================================== */
body {
	margin: 0 auto;
	max-width: $body-width;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $sans;
}

h1 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	margin: $h1-margins;
}

h2 {
	font-size: $h2-font-size;
	line-height: $h2-line-height;
	margin: $h2-margins;
}

h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  margin: $h3-margins;
}

h4 {
	font-size: $h4-font-size;
	line-height: $h4-line-height;
	margin: $h4-margins;
}

.page-header {
	display: none;
}

#logo {
	display: block;
	text-indent: -9999px;
}

.page-nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #000;
	color: #fff;
	font-family: $sans;
	text-transform: uppercase;
}

.page-nav ul {
	position: relative;
	padding-left: 4.75em;
	max-width: $body-width;
}

.page-nav li {
	display: inline-block;
	margin-right: 1em;
}

.page-nav a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: .35em 0;
}

.nav-home {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	@include single-transition(opacity, 1s)
}

.nav-home a {
	display: block;
	padding: 0;
	text-indent: -9999px;
	color: transparent;
	@include single-transition(color, 1s)
}

.nav-home a:after {
	content: '';
	position: absolute;
	top: .35em;
	left: 0;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAYFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD6T+iNAAAAH3RSTlPXtTI+ioOQK/fxzVuWqlDA+wzdnUYideYU7GgFHP4AGcE6+QAAAfJJREFUeF6N1dm6qjAMBeAyySQzBTqQvP9bHs4WSdilG9Ydfv4JyqoKcGPkqF/D8NYdXMUhSz0UOf5PEJknJH31+Ek2AcVP5CvHPW0JT4ie8UgCD8hSIUV0D0haIMsE9yTsuWjDe5KeBM7LLVkKDvo4MrekYkBN3hWROYhmokjBm0Z/iZ2ZsH6RZrPdSUxCpeDPgBh/iFSPHjrULaKSPyQhoaxfjGqfKaDriQReYPSnsX23kXEl8vaArm7wk3XcyAspr+sNieBvEYbXcbgki0JKYYQ9X1+RsGVEWRGtjLTRFYmRZY2ERp7AuEIq5NGCj2jzvHSEqbJ8ZSQWbyZKKa1LpJR87lsMRBrwhRd3YFvWGrxJ+JaJlhh4smYS9bGk9At+QGqRZl+ivYAf9SwVVOTZ+kV9dLfvBHkcvGKhXlYgQFNdxvtPgnojMqdWdtcizA6Ry41AdXf0TYPsvjbCjuWap1dEk1jHjZyHBDdtacwPgbHFv57ngOcvSPx6sV9+iyjjB/1LbE8m/iW6gs2zB4GRJmXhmUwkshGIgF55od1TzEso3GHaqSP9f3ICU8vr6dax3QUjUCqqp1tHVYJLIGyOejp1bEK4ItBN8/nXfNmv56kDTnhsMrtkTiyAQyhLGSgiClVQLgQ44bFlvRNb1Rac/ANx7BcGLFRYzgAAAABJRU5ErkJggg==) 0 0 no-repeat;
	border: 5px solid #fff;
}

.nav-search {
	position: absolute;
	bottom: -1.44em;
	right: 0;
	margin: 0;
	padding: 0;
}

#q {
	border: 1px inset #000;
}

article {
	padding-top: 3em;
}

article article {
	padding-top: 0;
}

blockquote {
  margin: 0 .842em;
  padding: 0 .842em;
  font-style: italic;
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  border-left: 4px solid rgba($text-color-light, .5);

  p {
	margin: 1.263em 0;
  }
  cite {
    font-style: italic;
    a {
		color: $text-color-light !important;
		word-wrap: break-word;
	}
    &:before {
		content: '\2014';
		padding:{right: .3em; left: .3em;}
		color: $text-color-light;
	}
  }
}

@media only screen and (min-width: 30em) {
	.nav-search {
		bottom: auto;
		top: 0;
		padding: .35em 0;
		border: none;
	}

	#q {
		box-shadow: 1px 1px 4px rgba(0,0,0,.4) inset;
		padding: 0 .5em;
		border-radius: .7em;
	}

}